/* #info {
	position: relative;
	top: 100px;
	left: 200px;
	width: 100%;
	text-align: center;
	z-index: 1000000;
	display: block;
	color: white;
	background: blue;
} */

html, body {
  height: 100%;
  margin: 0;
}
#canvasNotP5 {
  width: 100%;
  height: 100%;
  display: block;
}
